<section>
    
</section>

<script>
    const json = [
                {
                  "sellerRole": "",
                  "name": "Beakers",
                  "price": [
                    7.5,
                    8.5,
                    17,
                    26,
                    44,
                    87
                  ],
                  "GST": 18,
                  "HSN": 39269099,
                  "code": [
                    11101,
                    11102,
                    11104,
                    11105,
                    11106,
                    11107
                  ],
                  "image": "",
                  "brand": "Polylab",
                  "categoryName": "624e86f68964e0a947f59e02",
                  "containedLiquid": "No",
                  "description": "",
                  "itemWeight": "",
                  "netQuantity": "",
                  "piecePerPack": "[12pcs, 12pcs, 12pcs, 12pcs, 6pcs, 6pcs]",
                  "size": "[50ml, 100ml, 250ml, 500ml, 1000ml, 2000ml]",
                  "volume": "",
                  "subCategory": "",
                  "isverified": "Yes"
                },
                {
                  "sellerRole": "",
                  "name": "Breaker (Euro Design)",
                  "price": [
                    9,
                    9.5,
                    10.5,
                    17,
                    27,
                    45,
                    90,
                    250
                  ],
                  "GST": 18,
                  "HSN": 39269099,
                  "code": [
                    11110,
                    11111,
                    11112,
                    11113,
                    11114,
                    11115,
                    11116,
                    11117
                  ],
                  "image": "",
                  "brand": "Polylab",
                  "categoryName": "624e86f68964e0a947f59e02",
                  "containedLiquid": "No",
                  "description": "",
                  "itemWeight": "",
                  "netQuantity": "",
                  "piecePerPack": "[12pcs, 12pcs, 12pcs, 12pcs, 12pcs, 6pcs, 6pcs, 2pcs]",
                  "size": "[25ml, 50ml, 100ml, 250ml, 500ml, 1000ml, 2000ml, 5000ml]",
                  "volume": "",
                  "subCategory": "",
                  "isverified": "Yes"
                }
              ];

        json.forEach((item) => {
            console.log(JSON.stringify(item.categoryName));
            var params = {
                "sellerRole": "admin",
                "name": item.name,
                "price": JSON.stringify(item.price),
                "GST": item.GST,
                "image": "",
                "HSN": item.HSN,
                "vcode": JSON.stringify(item.code),
                "brand": item.brand,
                "categoryName": item.categoryName,
                "containedLiquid": item.containedLiquid,
                "description": "",
                "itemWeight": "",
                "netQuantity": "",
                "piecePerPack": item.piecePerPack,
                "size": item.size,
                "volume": "",
                "subCategory": "",
                "isverified": "Yes"
            }
            $.ajax({
                    type: 'POST',
                    url: '/upload-product',
                    data: params,
                    dataType: 'json',
                    encode: true,
                }).done(function (result) {
                    if (result.status == "success") {
                      alert('success');

                    }
                })
        })
</script>