<section>
    
</section>

<script>
    const json = [
                {
                  "sellerRole": "",
                  "name": "Beakers",
                  "price": [
                    7.5,
                    8.5,
                    17,
                    26,
                    44,
                    87
                  ],
                  "GST": 18,
                  "HSN": 39269099,
                  "codeNo.": [
                    11101,
                    11102,
                    11104,
                    11105,
                    11106,
                    11107
                  ],
                  "image": "",
                  "brand": "Polylab",
                  "categoryName": "Plasticware",
                  "containedLiquid": "No",
                  "description": "",
                  "itemWeight": "",
                  "netQuantity": "",
                  "piecePerPack": "[12pcs, 12pcs, 12pcs, 12pcs, 6pcs, 6pcs]",
                  "size": "[50ml, 100ml, 250ml, 500ml, 1000ml, 2000ml]",
                  "volume": "",
                  "subCategory": "",
                  "isverified": "Yes"
                },
                {
                  "sellerRole": "",
                  "name": "Breaker (Euro Design)",
                  "price": [
                    9,
                    9.5,
                    10.5,
                    17,
                    27,
                    45,
                    90,
                    250
                  ],
                  "GST": 18,
                  "HSN": 39269099,
                  "codeNo.": [
                    11110,
                    11111,
                    11112,
                    11113,
                    11114,
                    11115,
                    11116,
                    11117
                  ],
                  "image": "",
                  "brand": "Polylab",
                  "categoryName": "Plasticware",
                  "containedLiquid": "No",
                  "description": "",
                  "itemWeight": "",
                  "netQuantity": "",
                  "piecePerPack": "[12pcs, 12pcs, 12pcs, 12pcs, 12pcs, 6pcs, 6pcs, 2pcs]",
                  "size": "[25ml, 50ml, 100ml, 250ml, 500ml, 1000ml, 2000ml, 5000ml]",
                  "volume": "",
                  "subCategory": "",
                  "isverified": "Yes"
                },
                {
                  "sellerRole": "",
                  "name": "Breakers (Printed Graduation)",
                  "price": [
                    14,
                    16,
                    27,
                    42,
                    80,
                    140,
                    300,
                    600
                  ],
                  "GST": 18,
                  "HSN": 39269099,
                  "codeNo.": [11151, 11152, 11153, 11154, 11155, 11156, 11157, 11158],
                  "image": "",
                  "brand": "Polylab",
                  "categoryName": "Plasticware",
                  "containedLiquid": "No",
                  "description": "",
                  "itemWeight": "",
                  "netQuantity": "",
                  "piecePerPack": "[12pcs, 12pcs, 12pcs, 12pcs, 6pcs, 6pcs, 2pcs, 2pcs]",
                  "size": "[50ml, 100ml, 250ml, 500ml, 1000ml, 2000ml, 5000ml, 10000ml]",
                  "volume": "",
                  "subCategory": "",
                  "isverified": "Yes"
                },
                {
                  "sellerRole": "",
                  "name": "Burette",
                  "price": [
                    210,
                    235,
                    380
                  ],
                  "GST": 18,
                  "HSN": 39269099,
                  "codeNo.": [
                    11501,
                    11502,
                    11503
                  ],
                  "image": "",
                  "brand": "Polylab",
                  "categoryName": "Plasticware",
                  "containedLiquid": "No",
                  "description": "",
                  "itemWeight": "",
                  "netQuantity": "",
                  "piecePerPack": "[10pcs, 10pcs, 10pcs]",
                  "size": "[25ml, 50ml, 100ml]",
                  "volume": "",
                  "subCategory": "",
                  "isverified": "Yes"
                },
              ];

        json.forEach((item) => {
            console.log(item);
            // $.ajax({
            //         type: 'POST',
            //         url: '/update-cart',
            //         data: params,
            //         dataType: 'json',
            //         encode: true,
            //     }).done(function (result) {
            //         if (result.status == "success") {
            //             $('#cartcount').html('<super><span id = "cartcount"><i class = "fa fa-circle" style= "font-size: 10px;color: orange"></i></span></super>');

            //         }
            //     })
        })
</script>