// Colors
$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$darkside: #0006ba;
$sidebar: #695CFE;

// Transition
$smooth: all .3s ease-in-out;
$rainbow-gradient: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);